<html>
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="angular/angular.min.js"></script>
    <script src="angular/filter.js"></script>
</head>
<body ng-app="filterDemo">
<!---->

<div ng-controller="filterController as filter" ng-init="">
    <div >
        <input type="checkbox" ng-model="hide">hide Salary
        <br>
        <input type="text" ng-model="search" placeholder="Search">
        <div ng-include="filter.view"></div>
    </div>

</div>

</body>
</html>