<html>
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="angular/angular.min.js"></script>
    <script src="angular/filter.js"></script>
</head>
<body ng-app="filterDemo">
<!---->

<div ng-controller="filterController as filter" ng-init="">
    <div >
        show number of row
        <input type="number" ng-model="showRow">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Birthday</th>
                <th>Salary</th>
                <th>Gender</th>
                <th>Status</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="employee in filter.employees|orderBy:'name':false">
                <td>{{employee.name|uppercase}}</td>
                <td>{{employee.birthday|date:"dd/MM/yyyy"}}</td>
                <td>{{employee.salary|currency}}</td>
                <td>{{employee.gender|uppercase}}</td>
                <td>{{employee.status|status}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>