<html>
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="angular/angular.min.js"></script>
    <script src="angular/filter.js"></script>
</head>
<body ng-app="filterDemo">
<!---->

<div ng-controller="filterController as filter" ng-init="">
    <div >
        <input type="text" ng-model="search" placeholder="Search">
        <table class="table">
            <thead>
            <tr>
                <td ng-click="filter.softData('name')">Name</td>
                <td ng-click="filter.softData('birthday')">Birthday</td>
                <td ng-click="filter.softData('salary')">Salary</td>
                <td >Gender</td>
                <td >Status</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="employee in filter.employees|orderBy:softColumn:filter.reverse|filter:search">
                <td>{{employee.name|uppercase}}</td>
                <td>{{employee.birthday|date:"dd/MM/yyyy"}}</td>
                <td>{{employee.salary|currency}}</td>
                <td>{{employee.gender|uppercase}}</td>
                <td>{{employee.status|status}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>